
h1,h2, h3, h4 {
	margin-top:  40px;
	margin-bottom: 20px;
}

.title_row {
	padding-left: 15px;
	padding-right: 15px;
    display: flex;
    align-items: center;
}

.form_control {
	margin-left: 30px;
    display: inline-block;
    text-align:  center;
}

.form_control button {
	height: 40px;
	width: 80px;
	margin-top: 8px;
	float: right;
}

.add_button {
	width: 40px;
	height: 40px;
	float: right;
	margin-top: 20px;
}

.farm_form {
	display: none;
}


.exit {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}